*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Snell Roundhand, cursive;
}
#fundoPrincipal{
    background: linear-gradient(rgba(19, 19, 19, 0.5), rgba(19, 19, 19, 0.5)), url("/imagens/vintage-bar-lamps.png") no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.linkNavBar{
    list-style: none;
    cursor: pointer;
    margin: 30px;
    font-size: 25px;
    
}
a{
    color: white !important;
    text-decoration: none !important;
}

.container-nav{
    display: flex;
    flex-direction: row;
    
    align-items:center;
    justify-content: flex-end;
      
}

#imagem-logo{
   width: 30%;
   height: 30%;
}
#container{
    display: flex;
    justify-content: space-between  ;
}

.container-article{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color:white;
    font-size: 50px;
    
}

#tituloInicio{
    position: relative;
    left: -40%;
}
#tituloInicio3{
    position: relative;
    left: 15%;
}
footer {
    position: relative;
    margin-top: 10%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e1e1;
    box-sizing: border-box;
}
#rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(174, 179, 180);
    color: black;
}
#rodape li{
    list-style: none;
}
#rodape li a{
    text-decoration: none !important;
    color:black !important;
    cursor: pointer;
}